body {
  font-family: "Roboto:700", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background: #849d8f no-repeat;
}

a {
  text-decoration: underline;
  color: #ffffff;
}

a:hover, a:focus, a:active {
  color: #f07963;
}

ul {
  list-style: none;
}

button, .button {
  background-color: #ed5c3e;
  border-radius: 40px;
  text-decoration: none;
  border: none;
  color: #ffffff;
}

button:hover, .button:hover{
  background-color: #f07a63;
  color: #ffffff;
}

button:active, button:focus, .button:active, .button:focus {
  color: #ffffff;
  background-color: #dc5639;
}

.button-search {
  background: url("../img/loupe.svg") no-repeat;
  text-decoration: none;
  display: inline-block;
  font-size: 0;
  width: 19px;
  height: 19px;
}

.button-login {
  background: url("../img/login.svg") no-repeat;
  padding-left: 23px;
}

.button-red-basket {
  background: url("../img/basket-red.svg") no-repeat;
  padding-left: 25px;
  height: 20px;
  color: #323232;
}

.button-basket {
  background: url("../img/basket.svg") no-repeat;
  padding-left: 29px;
  padding-right: 15px;
  height: 20px;
}

.user-navigation a span {
  bottom: 15px;
}

.user-navigation img {
  margin-right: 5px;
}

.user-navigation li:first-child {
  width: 33px;
}

.user-navigation li:nth-child(2) {
  width: 92px;
}

.user-navigation li:last-child {
  margin-right: 0;
  width: 118px;
}

.main-header .dropdown-menu:first-child a:hover {
  background-color: #fbded7;
}

.news a:hover, .news a:active, .news a:focus {
  color: #ee5d3e;
}

.main-header .dropdown-menu:first-child a:active, .main-header .dropdown-menu:first-child a:focus {
  background-color: #f6b5a5;
}

.user-navigation {
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

input::placeholder {
  padding-left: 12px;
}

.main-navigation p {
  font-size: 14px;
  line-height: 16px;
}

.main-navigation b {
  font-size: 22px;
  line-height: 24px;
}

.stock:first-child {
  background: #b01644 url("../img/raspberry-background-main.jpg") no-repeat;
}

.stock:last-child {
  background: #3b231c url("../img/chocolate-background-main.jpg") no-repeat;
}

.product-item img{
  border-radius: 50%;
}

.index-page .product-item:before {
  content: " ";
  display: block;
  background: url("../img/hit.png") no-repeat;
  width: 61px;
  height: 61px;
  position: absolute;
}

.products a, .advantage-icon, .news p, .email p {
  line-height: 22px;
  font-family: "Roboto", Arial, sans-serif;
}

.delete .button {
  background-color: transparent;
}

.about-us, .news, .email, .contacts-block {
  font-family: "Roboto", Arial, serif;
  color: #323232;
  text-decoration: none;
}

.dropdown-menu, .dropdown-menu a {
  background-color: #f8f7f4;
  color: #323232;
}

.filters fieldset {
  border: none;
  font-family: "Roboto", Arial, serif;
  font-size: 14px;
  line-height: 16px;
}

.filters legend {
  margin-bottom: 7px;
  margin-left: 15px;
}

.filters form {
  margin-bottom: 4px;
}

.filters ul, .filters select, .range-controls , .filters input[type="button"], .user-navigation li {
  height: 35px;
  background-color: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 20px;
}

.filters input[type="button"] {
  margin-top: 20px;
  padding: 8px 27px 7px 29px;
  border: 2px solid white;
  height: 38px;
}

.filters ul {
  margin: 0;
}

.filters select {
  width: 193px;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 15px;
  font-size: 16px;
  line-height: 18px;
}

select::-ms-expand {
  display: none;
}

.sort {
  background: url("../img/select-arrow.svg") no-repeat 168px 25px;
  background-size: 13px 13px;
}

.filters input[type="button"] {
  color: white;
}

/*слайдер 1*/

.filter-range {
  width: 220px;
  color: #ffffff;
  margin: 0;
  height: 60px;
}

.price-controls {
  position: relative;
  margin-left: 16px;
  margin-bottom: 5px;
}

.price-controls label {
  cursor: pointer;
}

.price-controls input {
  width: 25px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  width: 100%;
  height: 20px;
  position: relative;
  margin-bottom: 32px;
  padding-top: 15px;
}

.range-controls .scale {
  margin: 0 auto;
  height: 4px;
  width: 178px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 65%;
  height: 4px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 17%;
}

.range-toggle-max {
  left: 62%;
}

/*слайдер 2*/

.sort-fat ul, .sort-fill ul {
  display: flex;
  padding: 6px 10px 8px 15px;
  height: 21px;
}

.sort-fat ul {
  padding-right: 15px;
}

.filters form fieldset {
  margin-right: 14px;
  margin-bottom: 14px;
  padding: 0;
}

.filters form fieldset:nth-child(3) {
  margin-right: 0;
}

.sort-fat label {
  display: block;
  margin-top: 3px;
}

/*чекбоксы 1*/

.sort-fill li, .sort-fat li {
  position: relative;
  margin-left: 30px;
  font-size: 16px;
  line-height: 18px;
  margin-right: 23px;
}

.sort-fat li {
  margin-left: 28px;
  margin-right: 21px;
}

.sort-fat ul {
  padding-left: 17px;
}

.sort-fat {
  margin-left: 0;
}

.sort-fill li:last-child {
  margin-right: 7px;
}

.sort-fat li:last-child {
  margin-right: 0;
}

.sort-fill label::before {
  content:" ";
  width: 24px;
  height: 24px;
  display: block;
  background: url("../img/checkbox-off.svg") no-repeat;
  background-size: 20px 20px;
  position: absolute;
  left: -30px;
}

.sort-fat label::before {
  content:" ";
  width: 22px;
  height: 22px;
  display: block;
  background: url("../img/radio-off.svg") no-repeat;
  background-size: 22px 22px;
  position: absolute;
  left: -30px;
  top: 0;
}

input[type=checkbox]:checked + label:before {
  background: url("../img/checkbox-on.svg") no-repeat;
  background-size: 24px 24px;
  top: -2px;
}

.sort-fat input[type=radio]:checked + label:before {
  background: url("../img/radio-on.svg") no-repeat;
  background-size: 22px 22px;
}


.slider-nav .is-active {
  background-color: #ffffff;
}

.slider-dot:hover, .slider-dot:active, .slider-dot:focus {
  background: none;
}

.is-active:hover, .is-active:active, .is-active:focus {
  background: #ffffff;
}

.slide-content {
  position: relative;
  z-index: 2;
  width: 700px;
  margin-bottom: 35px;
}

.slider-dot {
  display: inline-block;
  font-size: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: none;
  border: 2px solid #ffffff;
  cursor: pointer;
  padding: 0;
}

.slide {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 545px;
  outline: 1px dotted red;
}

.slide img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  /*max-width: 100%;*/
  /*max-height: 100%;*/
}

.slider-dot + .slider-dot {
  margin-left: 5px;
}

/*чекбоксы 2*/

.main-footer {
  font-family: "Roboto", Arial, serif;
  font-size: 13px;
  line-height: 18px;
}

.footer-copyright {
  font-size: 12px;
}

.contacts-block p:nth-of-type(2) a {
  color: #323232;
  text-decoration: none;
}

.news a {
  color: #323232;
  font-size: 24px;
  line-height: 30px;
}

.contacts-block {
  font-size: 14px;
  line-height: 20px;
}

address {
  font-style: normal;
}

.about-us {
  background: #ede2c8 url("../img/wafer-background.jpg") repeat;
}

.email {
  background-color: #f8f7f4;
  border-image-source: url("../img/bg-post.svg");
  border-style: solid;
  border-image-slice: 10;
  border-image-repeat: repeat;
  border-image-width: 5px;
}

.price {
  font-size: 45px;
  line-height: 45px;
}

.icon-hit {
  background: url("../img/hit.png") no-repeat;
}

h1 {
  font-size: 60px;
  line-height: 61px;
}

.footer-social li {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-left: 0;
  padding: 0;
}

.footer-social li:last-child {
  margin-right: 0;
}

.footer-social a {
  font-size: 0;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
}

.social-button-tw {
  background: url("../img/twitter.png") no-repeat;
}

.social-button-insta {
  background: url("../img/instagram.png") no-repeat;
}

.social-button-fb {
  background: url("../img/facebook.png") no-repeat;
}

.social-button-vk {
  background: url("../img/vk.png") no-repeat;
}

.contacts {
  background: #ffffff;
}

h2 {
  font-size:35px;
  line-height: 41px;
}

.stock p {
  font-size: 18px;
  line-height: 22px;
}

.stock a, .contacts-block a, .contacts-block address {
  font-family: "Roboto:700", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}
.hit a{
  line-height: 22px;
  font-weight: normal;
}

h3 {
  font-size: 24px;
  line-height: 30px;
}

.visually-hidden, .dropdown-menu {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----- Сеточные стили ----- */
html,
body {
  min-width: 1122px;
  min-height: 1150px;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  margin-bottom: -35px;
  padding: 0;
}

.main-header-logo {
  width: 155px;
  height: 63px;
  padding-top: 10px;
  margin: 0;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 1146px;
  max-height:120px;
  padding: 0;
}

.site-navigation {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin: 0 10px 0 21px;
  width: 695px;
  padding-left: 0;
}

.site-navigation li:first-child {
  margin-right: 27px;
}

.site-navigation li:nth-child(2) {
  margin-right: 29px;
}

.user-navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 265px;
  padding: 0;
}

.user-navigation a {
  text-decoration: none;
}

.user-navigation li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 5px;
  height: 30px;
}

.header-contacts {
  margin-top: 0;
  width: 165px;
  text-align: right;
}

.header-contacts a {
  text-decoration: none;

  line-height: 30px;
}

.slider {
  text-align: center;
  margin-bottom: 17px;
  position: relative;
}

.slide img {
  position: absolute;
  z-index: -1;
  /*top:0;*/
  left: 200px;
  bottom: -170px;
}

.slides {
  /*width: 710px;*/
  padding: 0;
  margin: 0 auto 0 auto;
}

.slider-nav {
  position: absolute;
  left: 147px;
  bottom: 47px;
  padding:0;
}

.stocks, .news-email-block {
  display: flex;
  width: 1146px;
  justify-content: space-between;
}

.stocks {
  margin: 0 auto 0 107px;
}

.news-email-block {
  margin: 0 auto 40px auto;
}

.stock {
  width: 542px;
  height: 213px;
  margin-bottom: 22px;
  padding-left: 18px;
  border-radius: 15px;
  padding-top: 16px;
}

.stock h2 {
  margin: 0;
}

.stock p {
  height: 65px;
}

.stock .button {
  padding: 12px 18px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.want-button {
  display: flex;
  justify-content: flex-end;
  max-width: 520px;
  margin-top: auto;
}

.news {
  background: #ffffff url("../img/strawberry-background-main.jpg") no-repeat;
  width: 281px;
  height: 198px;
  border-radius: 15px;
  padding: 20px 260px 0 20px;
}

.news-email-block p {
  margin:0 0 5px 0;
}

.email {
  width: 518px;
  height: 151px;
  border-radius: 15px;
  padding: 30px 12px 30px 22px;
}

.email p {
  margin-bottom: 35px;
}

.email-form {
  display: flex;
  width: 100%;
  bottom: 0;
  align-content: space-between;
  justify-content: flex-end;
}

.email-form input {
  flex-grow: 1;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #d3d3d2;
  margin-right: 12px;
}

.email-form .button {
  padding: 13px 21px;
  margin-right: 12px;
  font-family: "Roboto:700", Arial, sans-serif;
  font-weight: 700;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.products {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  flex-wrap: wrap;
  margin: 0 auto 18px 105px;
}

p.product-item {
  margin-bottom: 11px;
  position: relative;
  margin-top: 16px;
}

.price {
  position: absolute;
  top: 212px;
  left: 0;
}

.category {
  margin-left: 145px;
  margin-top: 0;
  margin-bottom: 25px;
}

.goods-navigation {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 16px;
  margin-left: 105px;
  margin-bottom: 5px;
}

.goods-navigation li {
  margin-right: 22px;
}

.catalog-page main form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 865px;
  margin-left: 145px;
  padding: 0;
}

.about-us {
  width: 1106px;
  height: 260px;
  margin: 0 auto 40px auto;
  padding: 23px 20px;
  border-radius: 15px;
}

.advantages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 220px;
  padding: 0;
  margin: 0;
}

.about-us h3 {
  margin:0 0 10px 0;
}

.advantage-icon {
  width: 485px;
  padding: 14px 25px 0 55px;
  margin-bottom: 8px;
}

.products li {
  text-align: center;
  width: 258px;
  margin-bottom: 22px;
}

.pages-container {
  width: 1146px;
  height: 97px;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #ffffff;
}

.pages-nav {
  width: 200px;
  height: 97px;
  padding: 5px 0 0 0;
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.page:not(.current-page) {
  margin-right: 21px;
}

.page:first-child::before {
  content:"<";
  position: absolute;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.3);
  left: 10px;
  bottom: 38px;
}

.current-page a{
  display: block;
  width: 18px;
  height: 21px;
  background-color: white;
  background-size: 18px 18px;
  color: black;
  padding-left: 9px;
  padding-top: 6px;
  border-radius: 50%;
  margin-right: 10px;
}

.slide .button {
  font-size: 32px;
  line-height: 44px;
  padding: 15px 35px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

button.current-slide {
  background: white;
}

.page a{
  text-decoration: none;
}

.page:last-child {
  margin-right: 0;
}

.icon-ice-cream {
  background: url("../img/icon-ice-cream-main.svg") no-repeat;
  background-size: 50px 50px;
}

.icon-leaf {
  background: url("../img/icon-leaf-main.svg") no-repeat;
  background-size: 50px 50px;
}

.icon-cow {
  background: url("../img/icon-cow-main.svg") no-repeat;
  background-size: 50px 50px;
}

.icon-thermometer {
  background: url("../img/icon-thermometer-main.svg") no-repeat;
  background-size: 50px 50px;
}

.contacts-block {
  background: #000000 url("../img/map-pin-main.jpg") no-repeat;
  width: 100%;
  background-size: cover;
  /*margin: 0 auto;*/
  height: 310px;
  padding: 60px 0;
}

.contacts-container {
  margin: 0 auto 0 auto;
  width: 1146px;
}

.contacts {
  width: 277px;
  height: 245px;
  bottom: 60px;
  right: 27px;
  margin-left: auto;
  padding: 30px 0 30px 25px;
  border-radius: 15px;
}

.contacts p {
  margin-top: 0 ;
}

.address {
  margin-bottom: 0;
}

.contacts address {
  margin-bottom: 18px;
}

.phone {
  line-height: 24px;
  margin-bottom: 33px;
}

.contacts-block a.button {
  padding: 14px 23px;
  margin-bottom: 30px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.main-footer {
  margin: 0 auto 0 auto;
  width: 1146px;
  display: flex;
  justify-content: space-between;
}

.footer-social ul {
  display: flex;
  padding: 0;
  height: 40px;
}

.footer-social, .footer-menu
{
  margin-top: 20px;
}

.footer-copyright {
  margin-top: 17px;
}

.footer-menu ul {
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 50px;
  padding-left: 0;
}

.footer-menu li {
  margin-right: 32px;
}

.footer-menu {
  position: relative;
}

.footer-menu .selected::before {
  content: " ";
  display: block;
  background: url("../img/heart.svg") no-repeat;
  left: -20px;
  width: 15px;
  height: 13px;
  position: absolute;
}

.footer-menu li:nth-child(3).selected::before, .footer-menu li:nth-child(4).selected::before {
  left: 120px;
}
